body{ fo}

.navbar-inverse .navbar-collapse{
	 border-color:#fff;
	 background:#F00; padding-right:10px;}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #000;
}
.navbar-inverse{ background:#fff;}
.navbar-inverse .navbar-brand a:hover{ color:#000}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #F00;
  
}
.txt{ font-size:14px; color:#F00; font-family:Verdana, Geneva, sans-serif; font-weight:bold; text-align:left;}
.navbar-inverse{ color:#fff !important; border:none;}
.txt2{ font-size:12px; color:#333; font-family:Verdana, Geneva, sans-serif; text-align:left;}
.rline{ border-bottom:1px #f00 solid; margin-bottom:5px; margin-top:5px; padding-bottom:10px;}
.rline1{ border-top:1px #f00 solid; margin-bottom:5px; margin-top:5px; padding-bottom:10px;}
a {
  color: #f00;
  text-decoration: none;
}
a:hover {
  color:#333;
  text-decoration: none;
}
.ftxt{ color:#fff; font-size:12px; text-align:left; margin-top:10px;}
.ftxt1{ color:#fff; font-size:12px; text-align:right; margin-top:10px;}
.contact{ margin:10px; list-style-type:none; text-align:center; color:#333;}
.contact ul li { text-decoration:none; list-style-type:none;}
.navbar-nav {float: right !important;
  margin: 0; margin-top:20px;}
  ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff !important;}
.wrdname{ color:#333; margin-right:68px;}
.wrdname1{ color:#333; margin-right:138px;}
.downloadp
{margin-left: 90px;
  margin-top: -52px;} 
 



.mainslider{


}

.below{
min-height:600px;
width:100%;
background:#141414;
text-align:center;

}

.below p{
color:white;
}

.below h2{
color:white;
padding-top:120px;

}

.belowmenu{
  border-style: groove;
  border-top: none;
  border-left: none;
  border-right: none;
  background:#141414
}

 
 .picimg{
   font-size: 30px;
  color: white;
  float: right;
  padding: 24px;
   background:#141414;
     border: none;
 
 }
 
.picimg:hover {
cursor: pointer;
color: rgb(181, 175, 175);
}

button.picimg {
font-size: 30px;
  color: white;
  float: right;
  padding: 17px;
  background:#141414;
  border: none;
}

button.picimg:hover {
cursor: pointer;
color: rgb(181, 175, 175);
}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}
 
 .lowerright{
 font-size:30px;
 
 
 }